[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=WebBrowser
Name=Chrome (desktop profile)
Icon=google-chrome
X-XFCE-Commands=sh -c 'exec "$HOME/desktop/bin/chrome"'
X-XFCE-CommandsWithParameter=sh -c 'exec "$HOME/desktop/bin/chrome" "$1"' sh "%s"
